html {
    font-size: 14px;
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/bg/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.view-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#startGameView {
    display: flex;
}

.canvas-container {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(64, 130, 62);
}

.bar-game {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#winView {
    display: none; /*default*/
}

#gameOverView {
    display: none; /*default*/
}