html {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.view-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#startGameView {
    display: flex;
}

.canvas-container {
    display: none;
}

#winView {
    display: none; /*default*/
}

#gameOverView {
    display: none; /*default*/
}